div
  nav.menu(role="navigation")
    a.branding(href="#")
      | zPortal
    ul.bare
      // ko foreach: router.navigationModel
      li(data-bind="css: {active: isActive}")
        a(data-bind="attr: {href: hash}, html: title")
      // /ko
    .right(data-bind='compose: "modules/profile/viewmodels/user-info"')

  #main-area.working-area.page-host(data-bind="router: {transition: 'entrance', cacheViews: true}")

  footer.container-fluid
