<div>
  <nav class="pure-menu pure-menu-open pure-menu-horizontal" role="navigation">
    <a class="pure-menu-heading" href="#">
      <i class="fa fa-home"></i>
      <span>Crello</span>
    </a>
    <ul>
      <!-- ko foreach: router.navigationModel -->
      <li data-bind="css: { active: isActive }">
        <a data-bind="attr: { href: hash }, html: title"></a>
      </li>
      <!-- /ko -->
    </ul>
    <div class="container-fluid">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-inverse">
                <span class="fa fa-search"></span>
              </button>
            </span>
          </div>
        </form>
        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button class="btn btn-inverse navbar-btn" data-bind="click: logout">Logout</button>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="working-area" class="container-fluid page-host" data-bind="router: { transition:'entrance', cacheViews:true }"></div>

  <footer class="container-fluid"></footer>
</div>