doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/application.css')
  body
    #applicationHost

    script(type="text/javascript", src="/vendor/requirejs/require.js", data-main="/js/main")