doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #applicationHost

    script(type="text/javascript", src="/vendor/requirejs/require.js", data-main="/js/main")