html, body
  min-height: 100%

body
  background #eee

  .off-canvas-wrap
    position absolute
    top 0
    right 0
    bottom 0
    left 0

    .inner-wrap
      position absolute
      top 0
      right 0
      bottom 0
      left 0

  .top-bar
    padding 0 10px
    .top-bar-section
      color: #fff

      .user-info
        .username, .messages
          display inline-block
          margin-left 20px

        .messages
          span
            margin-right 3px
            display inline-block

.main-section
  padding 20px