html,
body
  height 100%

body
  background-color main-background-color
  color: main-front-color

a
  color accent-color

#working-area
  position absolute
  top header-height
  right 0
  bottom footer-height
  left 0
  padding-top 10px
  padding-bottom 10px
  overflow scroll


#login-form
  a
    line-height: line-height-base + 1;