nav.menu
  background-color header-back-color
  color header-front-color
  position absolute
  top 0
  left 0
  right 0
  height header-height
  padding 0 base-padding
  border-bottom: 1px solid darken(header-back-color, 90%)

  .branding
    line-height (header-height / primary-header-font-size)
    font-size primary-header-font-size

  a.branding
    text-decoration: none
    padding 0 base-padding 0 base-padding
    margin-left -(base-padding)
    display inline-block

    &:hover
      text-decoration: underline

  ul
    display inline-block
    padding-left base-padding

    li
      display inline-block

      &.active
        a
          color highlight-accent-color

      a
        display inline-block
        padding 0 15px
        text-decoration none
        font-size secondary-header-font-size

        &:hover
          text-decoration: underline

        span
          display inline-block
          padding 5px 0 3px

  .right
    float right


  .user-info
    .name
      line-height header-height * (1 / 2)

      span
        line-height 1
        vertical-align bottom


    .bucket
      float right
      line-height header-height * (1 / 2)

      section
        display inline-block

        i, span
          vertical-align top
          line-height 1
          margin 0 1px

