nav.navbar
  background-color header-back-color;


  .navbar-nav
    & > .active > a
      background-color darken(header-back-color, 20%)

    .button
      border 1px solid lighten(header-back-color, 20%)

    .navbar-btn
      margin 5px 15px

  .navbar-form[role='search']

    .input-group.focused
      -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(red(accent-color), green(accent-color), blue(accent-color), 0.6)
      -moz-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(red(accent-color), green(accent-color), blue(accent-color), 0.6)
      box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(red(accent-color), green(accent-color), blue(accent-color), 0.6)


    input[type='text']
      &:focus
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
    @media screen-sm
      width: 300px;
