screen-sx-max = 767px
screen-sm-min = 768px
screen-sm-max = 991px
screen-md-min = 992px
screen-md-max = 1199px
screen-ls-min = 1200px

screen-sm = "(min-width: " + screen-sm-min + ")"
screen-md = "(min-width: " + screen-md-min + ")"
screen-lg = "(min-width: " + screen-lg-min + ")"

main-background-color = #eee
main-front-color = #333

header-back-color = #333
header-front-color = #ccc

footer-back-color = #333
footer-front-color = #ccc

accent-color = #f06d06

header-height = 75px
footer-height = 30px

line-height-base = 20/14

base-padding = 20px

submenu-size = 50px
submenu-open-size = 150px
submenu-item-padding = 10px
